<!-- Call the HTML5 boilerplate -->
{% extends 'layout.html' %}
<!-- Elements to be added -->
{% block content %}
<!-- searches for requested employee to return the employee info -->
{% if info %}
<p>Employee id: {{ info.id }}</p>
<p>First name : {{ info.first.capitalize() }}</p>
<p>Last name : {{ info.last.capitalize() }}</p>
<p>Email : {{ info.email }}</p>
<p>Salary : ${{ info.pay }}</p>
<form action="/employee_list/{{ info.first }}/raise" method="post">
  <input type="submit" value="Give Raise" />
</form>
{% else %}
<p>{{ message }}</p>
{% endif %}
<a href="/employee_list">Go Back</a>
<a href="/">Main Page</a>
{% endblock %}
